@model ConfigVm
<div class="email ">
    <a href="mailto:@Model.Email">
        <span>@Model.Email</span>
        <i class="far fa-envelope"></i>
    </a>
</div>
<div class="phone">
    <a href="tel:@Model.TellMobile">
        <span>@Model.TellMobile</span>
        <i class="fal fa-phone-alt"></i>
    </a>
</div>