@model DataLayer.Models.TblBannerAndSlide
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        افزودن اسلایدر
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Create" asp-controller="Slider" asp-area="Admin" data-ajax="true" enctype="multipart/form-data"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-complete="EndCatagoryCreate()"
      data-ajax-update="#ajaxresult">
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>نام</label>
                <input class="form-control form-control-sm" asp-for="Name" placeholder="مثال: اسلایدر1">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group col-md-4">
                <label>چند روزه : </label>
                <input type="number" min="1" required class="form-control form-control-sm" name="SliderTime" placeholder="مثال : 2" pattern="\d*" maxlength="2">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label>افزودن لینک</label>
                <input class="form-control form-control-sm" asp-for="Link" placeholder="...//:https">
                <span class="text-danger" asp-validation-for="Link"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label>به عنوان بنر پایین سایت</label>
                <input class="form-control form-control-sm" asp-for="IsBanner" >
            </div>
        </div>
        <label class="mt-2">تصویر اسلایدر</label>
        <br />
        <div class="custom-file col-md-7">
            <input type="file" class="custom-file-input form-control form-control-sm" accept="image/x-png,image/gif,image/jpeg" required asp-for="ImageUrl" onchange="inputChanged(this)">
            <label class="custom-file-label" for="Image" data-browse="انتخاب" id="FileName">انتخاب تصویر</label>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">افزودن<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></button>
    </div>
</form>

<script src="~/Validate/jquery.validate.min.js"></script>
<script src="~/Validate/jquery.validate.unobtrusive.js"></script>
<script> 
    function inputChanged(sender) {
        var fileName = sender.files[0].name;
        sender.parentElement.querySelector('.custom-file-label').innerHTML = fileName;
    }
</script>