@model ResetChangePasswordVm
@{
    ViewData["Title"] = "تغیر رمز";
}
<div class="account-content content-changePassword-account">
    @if (Context.Request.Query["ResetPass"].ToString() == "true")
    {
        <div class="alert alert-success">
            <p class="help-block">رمز شما تغیر یافت</p>
        </div>
    }
        
    <div class="header-tab-content-account d-flex justify-content-between align-items-center mb-4">
        <h1 class="title-tabcontent-account">
            تغییر
            رمز عبور
        </h1>

    </div>
    <div class="main-content-account">
        <div class="area-form-wrap">
            <form action="ChangePassword" method="post">
                <div class="pb-4 mb-4">
                    <div class="form-group">
                        <label for="input-passwordNew">پسورد قدیمی</label>
                        <input type="password" class="form-control inputpassword"
                               id="input-passwordNew" asp-for="OldPassword">
                    </div>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>


                </div>
                <div class="pb-4 mb-4">
                    <div class="form-group">
                        <label for="input-passwordNew">پسورد جدید</label>
                        <input type="password" class="form-control inputpassword"
                               asp-for="Password">
                    </div>

                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>

                <div>
                    <div class="form-group">
                        <label for="input-password-repetition">تکرار پسورد جدید</label>
                        <input type="password" class="form-control inputpassword-repetition"
                               asp-for="RePassword">

                    </div>
                    <span asp-validation-for="RePassword" class="text-danger"></span>

                    <div class="form-check form-check-custom my-3 my-sm-0">
                        <label class="checkbox-container" for="checkbox-password-repetition">
                            نمایش رمز عبور
                            <input type="checkbox" id="checkbox-password-repetition" onclick="showPassword() ">
                            <span class="checkmark"></span>
                        </label>
                    </div>




                </div>
                <div class="text-center mt-4">

                    <div class="area-btn-save">
                        <button type="submit" class="btn-style2">
                            ذخیره تغییرات<i class="far fa-sd-card mr-2"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>


</div>
@section Scripts{

    <script>
        $('.list-group-item').removeClass('active');
        $('#userChangePassword').addClass('active');

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
