@model IEnumerable<DataLayer.Models.TblSpecialOffer>
@using NimaProj.Utilities

@{
    ViewData["Title"] = "پیشنهاد ویژه";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">

            </div>
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <table class="table fixed">
                        <thead class="thead-light">
                            <tr>
                                <th>نام محصول</th>
                                <th>تاریخ انقضا</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Product.Name</td>
                                    <td>@item.ValidTill.DateToShamsi()</td>
                                    <td>

                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                                            <a onclick="Delete(@item.SpecialOfferId)" class="text-danger" uk-icon="trash-outline"></a>
                                        </span>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer bg-white">
                <nav aria-label="Page navigation example">
                    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                </nav>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        function Delete(id) {
            if (confirm('آیا از حذف   مورد نظر مطمئن هستید؟')) {
                $.post("/Admin/SpecialOffer/Delete/" + id, function () {
                    window.location.reload();
                });
            } else {
                // Do nothing!
            }

        }
    </script>
}