@model IEnumerable<DataLayer.Models.TblProperty>




<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        جزئیات
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body overflow-auto container-fluid">
    <ul class="row">
        @foreach (var item in Model)
        {
            <li class="col-4" id="Property-@item.PropertyId">
                <div class="form-check">
                    <span class="icon-holder uk-margin-small-right text-succses" uk-icon="add-circle-outline" onclick="SetInNewProduct('@item.PropertyId','@item.Name')"></span>
                    <label class="form-check-label">
                        @item.Name
                    </label>
                </div>
            </li>
        }
    </ul>
</div>
<div class="modal-footer justify-content-end">
</div>

<script>
    function SetInNewProduct(id, Name) {
        const doesExist = document.querySelector('#PropertyPanel').querySelectorAll("#PropertyInCreate-" + id).length !== 0;
        if (!doesExist) {
            // Add
            $("#PropertyPanel").append(`<div id="PropertyInCreate-${id}" class="form-inline col-md-7 mt-2"><label class="ml-5 p-0 col-md-2 uk-text-right justify-content-start">${Name}:</label><input id="PropetryNameId" name="PropertyId" type="hidden" value="${id}" /><input  maxlength="110" id="PropertyValue" name="Value" class="form-control form-control-sm col-md-3 col-9"><a onclick="DeleteProperty('${id}')" class="text-danger mr-1" uk-icon="close-circle"></a></div>`);
            $("#Property-" + id).remove();
        }
        else if (doesExist) {
            UIkit.notification('ویژگی مورد نظر قبلا اضافه شده است');
        }
    }

    function DeleteProperty(id) {
        $("#PropertyInCreate-" + id).remove();
    }
</script>
