@model ChangePasswordVm
@{
    ViewData["Title"] = "تغیر رمز";
}



<main class="content">
    <section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-9 col-lg-8  col-xl-6">
                    <div class="login login-register-wrap">
                        <div class="area-form-login area-form-login-register p-3 p-sm-4 p-md-5 ">
                            <h3 class="heading-style1 mb-3">فراموش کردن رمز  </h3>
                            <p class="margin-bottom margin-small-top text-2">
                                کد تغیر رمز به شماره شما ارسال گردید
                            </p>
                            <form asp-action="ChangePassword" method="post" asp-area="" class="form-block col"
                                  data-ajax="true"
                                  data-ajax-method="POST"
                                  data-ajax-mode="replace"
                                  data-ajax-complete="LoadingEnd()">
                                <partial name="_CaptchaInput" />
                                <input type="hidden" asp-for="Tell" />
                                <div class="form-group">
                                    <label>کد ارسالی  <span class="text-danger ">*</span></label>
                                    <input type="text" placeholder="123456" asp-for="Auth"
                                           class="form-control">
                                    <span class="text-danger" asp-validation-for="Auth"></span>
                                </div>
                                <div class="form-group">
                                    <label>رمز عبور جدید  <span class="text-danger ">*</span></label>
                                    <input type="password" asp-for="Password"
                                           class="form-control input-password" placeholder="کلمه عبور">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                <div class="form-group">
                                    <label>تکرار رمز عبور <span class="text-danger ">*</span></label>
                                    <input type="password"
                                           class="form-control input-password" asp-for="RePassword" placeholder="تایید کلمه عبور">
                                    <span class="text-danger" asp-validation-for="RePassword"></span>
                                </div>

                                <button class="btn-animate1 mt-4" onclick="LoadingRun()">تایید</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts
{
    <partial name="_CaptchaScripts" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
