
@{
    ViewData["Title"] = "آرمان سلامت آریا";
}

<link href="~/css/HeaderStyle.min.css" rel="stylesheet" />
<main class="content homepage">
    @await Component.InvokeAsync("SliderHomeComponent")

    <section class="mb-5 pb-sm-3  pb-lg-4 pb-xl-5">
        <div class="container" id="myCategory">
            <div class="row col-md-9 category-box-new">
                @await Component.InvokeAsync("CatagoryHomeComponent")
            </div>
        </div>
    </section>

    <!-- #region naw parallax photo section -->
    <section class="my-new-section">
        <div class="my-new-section-container" dir="ltr">
            <div class="img-container pt-md-4">
                <img src="~/Images/Blogs/3e7572df-e22d-4218-935a-653420e63517.jpg" />
            </div>
            <div class="content-container pt-3 pt-md-0">
                <p class="text-right pt-md-4 text-white" dir="rtl">
                    طراحان سایت هنگام طراحی قالب سایت معمولا با این موضوع رو برو هستند که محتوای اصلی صفحات آماده نیست. در نتیجه طرح کلی دید درستی به کار فرما نمیدهد. اگر طراح بخواهد دنبال متن های مرتبط بگردد تمرکزش از روی کار اصلی برداشته میشود و اینکار زمان بر خواهد بود. همچنین طراح به دنبال این است که پس از ارایه کار نظر دیگران را در مورد طراحی جویا شود و نمی‌خواهد افراد روی متن های موجود تمرکز کنند
                </p>
            </div>
        </div>
    </section>

    <!-- #region mahsolate pishnahady -->
    @await Component.InvokeAsync("ProductSpecialHomeComponent")


    <!-- #endregion mahsolate pishnahady -->
    <!-- #region Baner Payine Safe -->
    @await Component.InvokeAsync("SliderPayineSafeHomeComponent")


    <!-- #endregion Baner Payine Safe -->
    <!-- #region Products -->
    @await Component.InvokeAsync("ProductsHomeComponent")

    <!-- #endregion Products -->
    <!-- #region Blogs -->
    @await Component.InvokeAsync("BlogsHomeComponent")

    <!-- #endregion Products -->
    <!-- #region Blogs -->
    @await Component.InvokeAsync("BrandHomeComponent")

    <!-- #endregion Products -->

</main>

