
@{
    ViewData["Title"] = "آرمان سلامت آریا";
}


<main class="content homepage">
    <section class="mb-5 ">

        <div class="owl-carousel slider_baner-homepage" id="slider_header">
            @await Component.InvokeAsync("SliderHomeComponent")
        </div>
    </section>
    <section class="mb-5 pb-sm-3  pb-lg-4 pb-xl-5">
        <div class="container">
            <div class="row ">
                @await Component.InvokeAsync("CatagoryHomeComponent")
            </div>
        </div>
    </section>

    <!-- #region mahsolate pishnahady -->
    @await Component.InvokeAsync("ProductSpecialHomeComponent")


    <!-- #endregion mahsolate pishnahady -->
    <!-- #region Baner Payine Safe -->
    @await Component.InvokeAsync("SliderPayineSafeHomeComponent")


    <!-- #endregion Baner Payine Safe -->
    <!-- #region Products -->
    @await Component.InvokeAsync("ProductsHomeComponent")

    <!-- #endregion Products -->
    <!-- #region Blogs -->
    @await Component.InvokeAsync("BlogsHomeComponent")

    <!-- #endregion Products -->
    <!-- #region Blogs -->
    @await Component.InvokeAsync("BrandHomeComponent")

    <!-- #endregion Products -->

</main>
