@model IEnumerable<TblRegularQuestion>
@{
    ViewData["Title"] = "پرسش های متداول";
}


<main class="content">
    <div class="col-12">
        <div class="area-topbar-shop d-md-flex justify-content-between align-items-center mb-5 ">
            <div class="box-select-sort d-flex mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="mb-4 mb-lg-3">
                    <ol class="breadcrumb breadcrumb-singleProduct ">
                        <li class="breadcrumb-item"><a href="/">خانه</a></li>
                        <li class="breadcrumb-item active"> پرسش های متداول </li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <div class="col-12">
        @foreach (var item in Model)
        {

        }
    </div>

</main>