@model IEnumerable<TblBlog>

@if (Model.Any())
{
    <section class="mb-2 mb-md-3  mb-lg-4 mb-xl-5">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <h2 class="wow fadeInUp title-site">
                    آخرین پست ها
                    <span>آخرین پست ها</span>
                </h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel slider-Related-posts" id="Related-posts-slider">

                        @foreach (var item in Model)
                        {
                              <partial name="_BlogBlock" model="item" />
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>

}
