@model IEnumerable<TblCatagory>

<ul class="sub-menu">
    @foreach (TblCatagory item in Model)
    {
        <li>

            @if (item.InverseParent.Any())
            {
                <a href="/Blog/@item.CatagoryId/@item.Name.Replace(" ","-")"> @item.Name <i class="fal fa-angle-left"></i></a>

                <ul class="sub-menu">

                    @foreach (var j in item.InverseParent)
                    {
                        <li>
                            <a href="/Blog/@j.CatagoryId/@j.Name.Replace(" ","-")" > @j.Name </a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <a href="/Blog/@item.CatagoryId/@item.Name.Replace(" ","-")"> @item.Name </a>

            }

        </li>

    }

</ul>