@model TblSpecialOffer

    <div class="wow bounceIn item_slider_product-new" data-wow-duration="2s">
        <div class="product_cart">
            <div class="off"> <span>30% تخفیف</span></div>
            <a href="#" class="link-wishlist-icon"><i class="fal fa-heart"></i></a>
            <div class="cart-img-product mb-3">
                <a href="#">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <img src="~/galeb/img/img1.jpg" class="img1-product img-fluid" />
                        <img src="~/galeb/img/img2.jpg" class="img2-product img-fluid" />
                    </div>
                </a>
                <div class="area-button-view-product">
                    <a href="shop-product-detail.html" class="button-view-product">
                        مشاهده
                        محصول
                    </a>
                    <a href="#" class="add-to-cart">
                        +
                    </a>
                </div>
            </div>
            <div class="content_product text-center">
                <div class="price_card_product mb-2">
                    <del class="ml-1">130000</del> 120000
                    تومان
                </div>
                <a href="#">
                    <h3 class="title-product mb-2">عنوان محصول </h3>
                </a>
                <div class="star_rating">
                    <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                    <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                    <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                    <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                    <span class="star-icon"><i class="far fa-star"></i></span>
                </div>
            </div>
        </div>
    </div>
