@model TblProduct


<div class="product_cart">
    <div class="cart-img-product mb-3">
        <a href="/ViewProduct/@Model.ProductId/@Model.Name.Replace(" ","-")">
            <div class="d-flex justify-content-center align-items-center h-100">
                <img src="~/Images/ProductMain/thumb/@Model.MainImage" class="img2-product img-fluid" />
                @if (Model.TblProductImageRels.Any())
                {
                    var imageName = Model.TblProductImageRels.FirstOrDefault().Image.ImageUrl;
                    <img src="~/Images/ProductAlbum/thumb/@imageName" class=" img1-product img-fluid" />
                }
                else
                {
                    <img src="~/Images/ProductMain/thumb/@Model.MainImage" class="img1-product img-fluid" />
                }

            </div>
        </a>
        <div class="area-button-view-product">
            <a href="/ViewProduct/@Model.ProductId/@Model.Name.Replace(" ","-")" class="button-view-product">
                مشاهده
                محصول
            </a>
            <a href="#" class="add-to-cart">
                +
            </a>
        </div>
    </div>
    <div class="content_product text-center">
        <div class="price_card_product mb-2">
            @if (Model.IsOfflineOrder)
            {
                <span>
                    سفارش گیری
                </span>
            }
            else
            {
                @Model.Price
                <span>
                    تومان
                </span>
            }
        </div>
        <a href="/ViewProduct/@Model.ProductId/@Model.Name.Replace(" ","-")">
            <h3 class="title-product mb-2">@Model.Name </h3>
        </a>
    </div>
</div>
