@model DataLayer.Models.TblCatagory
<div class="modal-header">
    @if (ViewBag.ParentId == null)
    {
        <h6 class="modal-title" id="modalCenterTitle">
            افزودن دسته بندی
        </h6>
    }
    else
    {
        <h6 class="modal-title" id="modalCenterTitle">
            افزودن زیر مجموعه برای دسته بندی @ViewBag.Name
        </h6>
    }
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Create" asp-controller="Catagory" asp-area="Admin" enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-complete="EndCatagoryCreate()"
      data-ajax-update="#ajaxresultTblCatagory">

    @Html.AntiForgeryToken()
    @if (ViewBag.ParentId == null)
    {
        <input type="hidden" asp-for="ParentId" value="" />
    }
    else
    {
        <input type="hidden" asp-for="ParentId" value="@ViewBag.ParentId" />
    }

    <div class="modal-body" id="ajaxresultTblCatagory">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Name">نام</label>
                <input asp-for="Name" class="form-control form-control-sm" placeholder="مثال : لوازم جانبی" required>
                <span class="text-danger" asp-validation-for="Name"></span>

            </div>


        </div>
        @if (ViewBag.ParentId == null)
        {
            <div class="form-row">
                <div class="custom-file col-md-7">
                    <input type="file" class="custom-file-input form-control form-control-sm" accept="image/x-png,image/gif,image/jpeg" asp-for="ImageUrl" onchange="inputChanged(this)">
                    <label class="custom-file-label" for="Image" data-browse="انتخاب" id="FileName">انتخاب تصویر</label>
                </div>

            </div>
        }



    </div>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">افزودن<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></button>
    </div>
</form>

<script src="~/Validate/jquery.validate.min.js"></script>
<script src="~/Validate/jquery.validate.unobtrusive.js"></script>

<script>
    function inputChanged(sender) {
        var fileName = sender.files[0].name;
        sender.parentElement.querySelector('.custom-file-label').innerHTML = fileName;
    }
</script>