@*@model DataLayer.ViewModels.VisitSiteVm

<ul class="dropdown-menu">
    <li>
        <dl class="dl-horizontal">
            <dt>بازدید امروز :</dt>
            <dd>@Model.VisitToday</dd>
            <dt>بازدید دیروز :</dt>
            <dd>@Model.VisitYesterday</dd>
            <dt>بازدید کل :</dt>
            <dd>@Model.VisitSum</dd>
        </dl>
    </li>
</ul>*@