<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/AdminStaticFile/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/AdminStaticFile/Bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="/AdminStaticFile/Bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="/AdminStaticFile/Bootstrap/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="/AdminStaticFile/Bootstrap/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="/AdminStaticFile/style.css" rel="stylesheet" />
    <link href="/AdminStaticFile/style-rtl.css" rel="stylesheet" />
    <link href="~/css/uikit.min.css" rel="stylesheet" />
    <link href="~/AdminStaticFile/DataPicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link href="~/css/Load.css" rel="stylesheet" />

</head>
<body>

    <div class="wrapper flex-div">
        <div class="layout flex-div">
            <!-- Side Nav START -->
            <div class="side-nav">
                <div class="side-nav-inner">
                    <div class="side-nav-logo">
                        <a href="/" class="uk-margin-auto row">
                            <img src="/st/r/logo.jpg" width="48" style="height:44px !important" alt="لوگو فصر موبایل">
                        </a>
                        <div class="mobile-toggle side-nav-toggle">
                            <a href="#" uk-icon="chevron-back-outline">
                            </a>
                        </div>
                    </div>
                    <ul class="side-nav-menu scrollable">
                        <li class="nav-item active">
                            <a href="/Admin" class="LoadingDiv">
                                <span class="icon-holder">
                                    <i uk-icon="home"></i>
                                </span>
                                <span class="title">داشبورد</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i uk-icon="eye"></i>
                                </span>
                                <span class="title">بازدید سایت</span>
                                <span class="arrow" uk-icon="chevron-forward">
                                </span>
                            </a>
                            @*@await Component.InvokeAsync("VisitSiteAdmin")*@

                        </li>
                        @*@if (User.Claims.Last().Value == "admin")
                        {
                        }*@ 

                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" href="javascript:void(0);">
                                    <span class="icon-holder">
                                        <i uk-icon="settings"></i>
                                    </span>
                                    <span class="title">مدیریت</span>
                                    <span class="arrow" uk-icon="chevron-forward">
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    @*<li class="nav-item active">
                                        <a href="/Admin/Card" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="card"></i>
                                            </span>
                                            <span class="title">کارت بانکی</span>
                                        </a>
                                    </li>*@
                                    <li class="nav-item active">
                                        <a href="/Admin/Config" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="cog"></i>
                                            </span>
                                            <span class="title">تنظیمات سایت</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/PostOption" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="paper-plane"></i>
                                            </span>
                                            <span class="title">روش های ارسال</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                          
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" href="javascript:void(0);">
                                    <span class="icon-holder">
                                        <i uk-icon="cube"></i>
                                    </span>
                                    <span class="title">محصولات</span>
                                    <span class="arrow" uk-icon="chevron-forward">
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item active">
                                        <a href="/Admin/Product" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="list"></i>
                                            </span>
                                            <span class="title">لیست</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/Product/Create" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="add"></i>
                                            </span>
                                            <span class="title">افزودن محصول</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/Catagory" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="file-tray-stacked"></i>
                                            </span>
                                            <span class="title">دسته بندی</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/Property" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="document-text"></i>
                                            </span>
                                            <span class="title">ویژگی ها</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/Brand" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="pricetag"></i>
                                            </span>
                                            <span class="title">برند</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/Discount" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="pricetags-outline"></i>
                                            </span>
                                            <span class="title">تخفیفات</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/SpecialOffer" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="bookmark"></i>
                                            </span>
                                            <span class="title">پیشنهاد ویژه</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" href="javascript:void(0);">
                                    <span class="icon-holder">
                                        <i uk-icon="cart"></i>
                                    </span>
                                    <span class="title">سفارشات</span>
                                    <span class="arrow" uk-icon="chevron-forward">
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item active">
                                        <a href="/Admin/Order/AllOrder" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="desktop-outline"></i>
                                            </span>
                                            <span class="title">همه سفارشات </span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/Order" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="desktop-outline"></i>
                                            </span>
                                            <span class="title">سفارشات پرداخت شده  </span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/OnlineOrder" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="basket"></i>
                                            </span>
                                            <span class="title">سفارشات آفلاین</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/Fractional" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="flash-off"></i>
                                            </span>
                                            <span class="title">سفارشات اقساطی</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item active">
                                <a href="/Admin/Comment" class="LoadingDiv">
                                    <span class="icon-holder">
                                        <i uk-icon="chatbubble-ellipses"></i>
                                    </span>
                                    <span class="title">نظرات</span>
                                </a>
                            </li>
                            @*<li class="nav-item active">
                                <a href="/Admin/Bank" class="LoadingDiv">
                                    <span class="icon-holder">
                                        <i uk-icon="business"></i>
                                    </span>
                                    <span class="title">بانک</span>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Admin/Notification" class="LoadingDiv">
                                    <span class="icon-holder">
                                        <i uk-icon="notifications"></i>
                                    </span>
                                    <span class="title">اطلاعیه به کاربران</span>
                                </a>
                            </li>*@
                            <li class="nav-item active">
                                <a href="/Admin/Client" class="LoadingDiv">
                                    <span class="icon-holder">
                                        <i uk-icon="people"></i>
                                    </span>
                                    <span class="title">کاربران</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" href="javascript:void(0);">
                                    <span class="icon-holder">
                                        <i uk-icon="folder-open"></i>
                                    </span>
                                    <span class="title">مدیا</span>
                                    <span class="arrow" uk-icon="chevron-forward">
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item active">
                                        <a href="/Admin/Slider" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="images"></i>
                                            </span>
                                            <span class="title">اسلایدر</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/Album" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="image"></i>
                                            </span>
                                            <span class="title">آلبوم</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/Ad" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="megaphone"></i>
                                            </span>
                                            <span class="title">تبلیغات</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item active">
                                <a href="/Admin/Blog" class="LoadingDiv">
                                    <span class="icon-holder">
                                        <i uk-icon="newspaper"></i>
                                    </span>
                                    <span class="title">اخبار و اطلاعیه ها</span>
                                </a>
                            </li>
                            @*<li class="nav-item active">
                                <a href="/Admin/Delivery" class="LoadingDiv">
                                    <span class="icon-holder">
                                        <i uk-icon="delivery-truck"></i>
                                    </span>
                                    <span class="title"> ارائه خدمات درب منزل</span>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a href="/Admin/Store" class="LoadingDiv">
                                    <span class="icon-holder">
                                        <i uk-icon="storefront"></i>
                                    </span>
                                    <span class="title">شعب</span>
                                </a>
                            </li>*@
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" href="javascript:void(0);">
                                    <span class="icon-holder">
                                        <i uk-icon="headset-sharp"></i>
                                    </span>
                                    <span class="title">پشتیبانی</span>
                                    <span class="arrow" uk-icon="chevron-forward">
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item active">
                                        <a href="/Admin/Ticket" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="headset-outline"></i>
                                            </span>
                                            <span class="title">مرکز پاسخگویی</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/ContactUs" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="call"></i>
                                            </span>
                                            <span class="title">تماس با ما</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/Topic" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="clipboard"></i>
                                            </span>
                                            <span class="title">تالار گفتگو</span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="/Admin/RegularQuestion" class="LoadingDiv">
                                            <span class="icon-holder">
                                                <i uk-icon="help-circle"></i>
                                            </span>
                                            <span class="title">سوالات متداول</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>
            <!-- Side Nav END -->
            <!-- Page Container START -->
            <div class="page-container flex-div">
                <!-- Header START -->
                <div class="header navbar">
                    <div class="header-container">
                        <ul class="nav-right float-right mr-3">
                            <li>
                                <a class="side-nav-toggle" href="javascript:void(0);" uk-icon="menu-outline">

                                </a>
                            </li>
                        </ul>
                        <a href="/logout" class="nav-left float-left ml-5 mt-4 text-secondary"> <span uk-icon="log-out"></span>خروج از حساب</a>

                    </div>
                </div>

                <div class="sub-header">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb rounded-0 m-0 bg-white">
                            <li class="breadcrumb-item p-0"><a href="/admin/Home">داشبورد</a></li>
                            <li class="breadcrumb-item p-0 active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
                <!-- Header END -->
                <!-- Content Wrapper START -->
                <div class="main-content flex">
                    <div class="container-fluid flex-div">
                        @RenderBody()
                    </div>
                </div>
                <!-- Content Wrapper END -->
                <!-- Footer START -->
                <footer class="content-footer bg-white">
                    <div class="footer border-0">
                        <div class="copyright">
                            <span><b class="text-dark">قصر موبایل</b> 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- Footer END -->
            </div>
            <!-- Page Container END -->
        </div>
    </div>
</body>
</html>

<!-- Modal -->
<div class="modal fade" id="modalSave" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            @*JS Dynamic*@
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<!--Loading-->
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
<!--Loading-->

<script src="/Jquery/jquery-3.4.1.js"></script>
<script src="/Jquery/jquery-3.4.1.min.js"></script>
<script src="/Jquery/modal.js"></script>
<script src="/Jquery/popper.min.js"></script>
<script src="/AdminStaticFile/Bootstrap/js/bootstrap.js"></script>
<script src="/AdminStaticFile/Bootstrap/js/bootstrap.min.js"></script>
<script src="/AdminStaticFile/Bootstrap/js/bootstrap.bundle.js"></script>
<script src="/AdminStaticFile/Bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/uikit.min.js"></script>
<script src="~/js/uikit-icons.js"></script>
<link href="~/AdminStaticFile/DataPicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
<script src="~/AdminStaticFile/script.js"></script>
<script src="~/js/ckeditor/ckeditor.js"></script>
<script src="~/js/ckeditor/adapters/jquery.js"></script>
<script>
    $(".LoadingDiv").click(function () {
        $("#overlay").fadeIn(300);
    });
</script>
@RenderSection("Script", false)
